*{
    background-color: crimson;
}
.personal{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center ;
    background-color: gray 

}
.photo{
    border: 1px solid black;
    border-radius: 3px;
    margin-top:5px;
    margin-left:4px;
    float: left;
    
}
.info{
    background-color:lightcoral;
    border-radius: 4px;
    padding-left:10px;
    padding-bottom:10px;
    border: solid black 1px;
    margin: 5px;

}
.info p{

    padding-left:260px;
    color: limegreen;
    background-color:black;
}
.Summary{
    
    border-radius: 7px;
    padding-left:4px;
    background-color:black;
    color:lightpink;
    border: 1px solid black;
}
.Summary h3{
    text-align: center;
    color: black;
}
.info p em{
    color: limegreen;
    background-color: black;
}
.Summary p{
   background-color:black;
    color: limegreen;
    text-align: center
}
.Qualifications{
border: 1px solid black;
border-radius:5px;
margin-top:5px;
background-color:lightcoral;

}
.Qualifications  li{
    background-color:black;
    color: limegreen;
    
}
.Qualifications h2{
    text-align: center;
    color: black; 
}
.Qualifications ul{
   
    background-color: black;
    color:limegreen
}
.Education li{
    background-color:black;
    color: limegreen;
    
}
.Education ul{
    
    background-color: black;
    color:limegreen
}
.Education{
  
    border:1px solid black;
    border-radius: 5px;
    margin-top:5px;
    background-color: peru;
}
.Education h2{
    text-align: center
}
.edu{
    
    border:1px solid black;
    border-radius: 5px;
    margin-top:5px;
    background-color: peru;
}
.edu ol{
    
    background-color: black;
    color:limegreen
}
.edu li{
    background-color:black;
    color: limegreen;
    
}
.edu h2{
    text-align: center;
}

    
